# Dependencies
node_modules/
.pnpm-store/

# Build & Dist
dist/
dist-ssr/
*.local

# Zip archives
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
